.Po-Section {
  border: 0 solid #000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}
.Po-Main {
  height: 100vh;
  user-select: none;
}
.Po-MainPost {
  height: 90vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  position: absolute;
  top: 6rem;
}
.Po-Post {
  margin-left: auto;
  margin-right: auto;
  width: 32%;
  margin-top: 20px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}
.Po-PostTop {
  padding-left: 16px;
  padding-right: 16px;
  float: top;
}
.Po-PostUserName {
  font-weight: bold;
}
.Po-PostMessage {
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.Po-Posts {
  margin-bottom: 0.3rem;
}
.Po-PostImg {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.Po-PostImgSize {
  width: 100%;
  max-width: 100%;
  max-height: 400px;
}
.Po-PostBottom {
  padding: 0;
  width: 100%;
}
.Po-PostFunction {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  width: 100%;
}
.Po-PostFunctionPosition {
  display: inline-block;
  margin-right: 8px;
  width: 6%;
}
.Po-HeartBtn:active {
  color: red;
}
.Po-Btn {
  border: none;
  background-color: #ffffff;
  border-radius: 0.5rem;
  min-width: 40px;
  min-height: 40px;
  align-items: center;
  background: 0 0;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-flex: 0;
  justify-content: center;
  padding: 0;
}
.Po-CommentBtn {
  float: left;
}
.Po-PetName {
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  min-width: 180px;
  min-height: 18px;
  margin-left: 57%;
}
.Po-HeartCnt {
  padding-right: 16px;
  padding-left: 16px;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
.Po-HeartDiv {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  justify-content: flex-start;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}
.Po-HeartDiv2 {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: start;
  white-space: pre;
}
.Po-HeartViewBtn {
  color: rgba(var(--f07, 38, 38, 38), 1);
  border: 0;
  display: inline;
  padding: 0;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 0.9rem;
}
.Po-WriteComment {
  padding-right: 16px;
  padding-left: 16px;
  border-top: 1px solid lightgray;
  margin-top: 0.8rem;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
}
.Po-WriteCommentDiv {
  -webkit-box-align: stretch;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  display: flex;
  -webkit-box-direction: normal;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
.Po-WriteCommentForm {
  flex-direction: row;
  flex-shrink: 1;
  position: relative;
  width: 100%;
}
.Po-WriteCommentArea {
  background: 0 0;
  border: 0;
  font-size: inherit;
  color: #262626;
  height: 18px;
  max-height: 80px;
  outline: 0;
  padding: 0;
  resize: none;
  width: 95%;
}

.Po-SubmitBtnStyle-disabled {
  border: 0;
  padding: 0;
  color: #dee2e6;
  float: right;
  width: 5%;
  -webkit-appearance: none;
  background: 0 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  font-weight: bold;
  font-size: 0.9rem;
}
.Po-SubmitBtnStyle-enabled {
  border: 0;
  color: #3897f0;
  padding: 0;
  float: right;
  width: 5%;
  -webkit-appearance: none;
  background: 0 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  font-weight: bold;
  font-size: 0.9rem;
}
.Po-SubmitBtnStyle[disabled]:not(.classname) {
  opacity: 0.5;
}
.Po-SubmitBtnStyle[disabled] {
  pointer-events: none;
}

.Po-WriteBtnStyle-disabled {
  border: 0;
  padding: 0;
  color: #dee2e6;
  background: 0 0;

  text-align: center;
  text-transform: inherit;
  -webkit-user-select: none;
  font-weight: bold;
  font-size: 0.9rem;
}
.Po-WriteBtnStyle-enabled {
  border: 0;
  color: #3897f0;
  padding: 0;
  -webkit-appearance: none;
  background: 0;
  cursor: pointer;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  font-weight: bold;
  font-size: 0.9rem;
}
.Po-WriteBtnStyle[disabled]:not(.classname) {
  opacity: 0.3;
}
.Po-WriteBtnStyle[disabled] {
  pointer-events: none;
}

.Po-WriteCommentArea .Po-WriteCommentForm {
  flex-grow: 1;
}

.Po-Writing {
  text-align: center;
  border: 1px solid #dee2e6;
  margin: 0 auto;
  width: 32%;
  border-radius: 0.5rem;
  background-color: white;
}
.Po-WritingInfo {
  cursor: pointer;
  padding: 10px 0;
  padding-left: 0.4rem;
  border-bottom: 1px solid #dee2e6;
  text-align: left;
  background-color: #f5f6f7;
}
.Po-TextArea {
  border-bottom: 1px solid #dee2e6;
  padding: 0.5rem 0;
}
.Po-WritePostArea {
  outline: 0;
  border: none;
  max-height: 80px;
  min-height: 50px;
  resize: none;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 18px;
  width: 97%;
}
.Po-WritingAdd {
  overflow: hidden;
  margin: 0 1rem;
}
.Po-ulAdd {
  line-height: 1.4rem;
  margin: 0 auto;
  width: 100%;
}
.Po-liAdd {
  display: inline-block;
  margin: 0 auto;
  font-weight: bold;
}
.Po-FileBtn {
  cursor: pointer;
}
.h3 {
  width: 30%;
  cursor: pointer;
  background-color: #f1f3f5;
  border-radius: 10px;
  height: 30px;
}
.h3:hover {
  background-color: #e9ecef;
}
.h7 {
  margin-left: 0.7rem;
  width: 68%;
  cursor: pointer;
  background-color: #f1f3f5;
  border-radius: 10px;
  position: relative;
  bottom: 3px;
  height: 30px;
}
.Po-FileText {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 1rem;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  line-height: normal;
}
.FileBtnImg {
  position: relative;
  top: 4px;
  color: #868e96;
}

.Po-ProfilePos {
  height: 22%;
  width: 13%;
  position: fixed;
  margin: 0 10%;
}
.Po-ProfileBox {
  width: 100%;
  height: 100%;
  background-color: #f5f6f7;
  text-align: center;
  border-radius: 0.9rem;
  cursor: pointer;
}
.Po-ProfileName {
  line-height: 3.4rem;
  border-bottom: 1px solid #adb5bd;
  font-size: 1.4rem;
  font-weight: 700;
}
.Po-ProfileIconPos {
  float: left;
}
.Po-Ul {
  padding-left: 1.2rem;
}
.Po-Ul > li {
  line-height: 2.8rem;
}
