.sn-snacklist {
    display: flex;
    margin-top: 10px;
}

.sn-snackImg {
    width: 250px;
    height: 250px;
    padding: 10px;
    border:1px solid #888888;
}

.sn-snack {
    margin-left : 5%;
} 