.re-txts{
    margin-top: 20%;
    margin-left: 20%;
    display: flex;
}

.re-contents{
    display: flex;
}
.re-Lcontent{
    display: flex;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
}

.re-txt{
    font-size: 2.0rem;
    cursor: pointer;

}

.re-Rcontent{
    display: flex;
    box-sizing: border-box;
    width:  70%;
    height: 92%;
    margin-top: 5%;
}