.re-txts{
    margin-top: 20%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
}

.re-contents{
    display: flex;
}
.re-Lcontent{
    display: flex;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
}


.re-Rcontent{
    display: flex;
    box-sizing: border-box;
    width:  70%;
    height: 92%;
    margin-top: 5%;
}

.re-txt{
  border: 1px solid #00bfa5;
  color: #00BFA5;
  background-color: transparent;
  padding-top: 20px;
}
