.pi-Picturelist {
    display: flex;
    height: 70vh;
    margin-top: 8%;
    flex-wrap: wrap;
    overflow: auto;
}

.pi-Picturelist:active {
    overflow: visible;
}
.main-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px 3px gray;
    margin-bottom: 3%;
    width: 250px;
    margin-right: 3.2%;
    height: 250px;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.main-picture:active {
    transform: scale(2);
    z-index: 10;
    overflow: visible;
    box-shadow: unset;
}

.picture-img { 
    width: auto; height: auto;
    max-width: 250px;
    max-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pi-main {
    height: 100vh;
}

.pi-p1 {
    font-size: 2rem;
    margin-top: 16%;
    padding-left: 300px;
}